[submodule "container-and-kubernetes-security/container-and-kubernetes-security-workshop"]
	path = container-and-kubernetes-security/container-and-kubernetes-security-workshop
	url = https://github.com/rewanthtammana/container-and-kubernetes-security-workshop
[submodule "chaos-workshop/kubesimplify-chaos-demo"]
	path = chaos-workshop/kubesimplify-chaos-demo
	url = https://github.com/ksatchit/kubesimplify-chaos-demo.git
[submodule "kubernetes-observability/k8s-o11y-2022"]
	path = kubernetes-observability/k8s-o11y-2022
	url = https://gitlab.com/everyonecancontribute/workshops/kube-simplify/k8s-o11y-2022.git
