[submodule "Container-and-Kubernetes-security/container-and-kubernetes-security-workshop"]
	path = Container-and-Kubernetes-security/container-and-kubernetes-security-workshop
	url = https://github.com/rewanthtammana/container-and-kubernetes-security-workshop
