<!doctype html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kubesimplify workshops</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>

<body style="background-color: red">
      
    <header>
        <h1>Welcome to Kubernetes Workshop</h1>
        <p>
            Where to subscribe to regular updates?
        </p>
    </header>
    <main>
        <form action="/howdy" method="post">
                Enter Name: <input type="text" name="name">  <br />
                
                <input type="submit" name= "form" value="Submit" />
            </form>
        
        <br>
    </main>
<p style="font-family: 'Poppins', sans-serif; font-weight: bold; line-height: 2rem; font-size:1.3rem; color: white; text-align: center; padding: 15px; background-color: #1B2731">Website : kubesimplify.com<br>Twitter : @kubesimplify<br>Sponsor : kubesimplify.com/sponsor<br>Founder : Saiyam Pathak
</p>
</body>
